ul{
    list-style:none;
    padding:0;
    margin:0;
}
a{
    text-decoration: none;
    color:  #001F3F;
}
.spacer{
    flex:1 1 auto;
}
ul{
    display: flex;
    align-items: center;
}
ul li{
    margin-right: 25px;
}
ul li a{
    background-color: #FFD700;
    color:  #001F3F;
    border: 1px solid  #001F3F;
}
ul li .mdc-button__label{
    color: #001F3F;
}
ul li a.active{
    background-color: #001F3F;
    color: #FFD700;
}
ul .profile a{
    display: flex;
    border: none;
    align-items: center;
}
.profile img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 100%;
}
.mat-toolbar.mat-primary{
    background-color: #FFD700;
}