<mat-toolbar color="primary">
    <span>
        <a routerLink="/" >Pyggys Bank</a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li class="hidden-mobile" *ngIf="userIsAuthenticated">
            <a mat-button routerLink="/create" routerLinkActive="active">New Play</a>
        </li>
        <li class="hidden-desktop plusBtn" *ngIf="userIsAuthenticated">
            <a routerLink="/create" routerLinkActive="active">+</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/signup" routerLinkActive="active">Signup</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button mat-button (click)="onLogout()">Logout</button>
        </li>
        <li *ngIf="userIsAuthenticated" class="profile">
            <a routerLink="/userinfo/{{ userId }}">
                <img *ngIf="profilePic" [src]="profilePic" alt="Profile Picture" />
                <span class="hidden-mobile">{{userName}}</span>
                <span class="divider hidden-mobile">|</span>
                <span>{{ net | number: '1.2-2' }}</span>
              </a>
        </li>
    </ul>
</mat-toolbar>
