<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="false" *ngIf="plays.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor="let play of plays" (opened)="onPanelOpened(play)">
        <mat-expansion-panel-header class="graded-{{play.graded}}">
            <div class="header-container">
                {{ play.title }}
                <div class="numbers win-{{play.ifWin}}">
                    <mark class="stake">-{{play.stake}}</mark>
                    
                    <mark class="payout">+{{play.payout}}</mark>
                </div>
            </div>
        </mat-expansion-panel-header>
        <div class="play-img" *ngIf="play.imagePath">
            <img [src]="play.imagePath" [alt]="play.title">
        </div>
        <p *ngIf="play.content" style="white-space: pre-line;">{{ play.content }}</p>
        <div class="tags_section">
            <button class="addTag" mat-button color="primary"  (click)="addTagInitiate()">+ Tag</button>
            <div class="tag">tag <span class="deleteTag">X</span></div><div class="tag">tag <button color="warm">X</button></div>
            <div *ngIf="tagIni" mat-dialog-content>
                <form [formGroup]="form" (submit)="createTag()">
                    <mat-form-field>
                        <input placeholder="New Tag" matInput type="text" formControlName="title" required>
                        <mat-error *ngIf="form.get('title').invalid">Please Enter Tag</mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="accent" type="submit">Add Tag</button>
                </form>
                <div *ngFor="let tag of play.tags" class="tag">{{tag}} <button color="warm">X</button></div>
            </div>
            <div *ngFor="let tag of tags" class="tag">{{tag.title}}</div>
        </div>
        <mat-action-row *ngIf="userIsAuthenticated && userId==play.creator && !play.graded && !userIdProfile" class="align-rightt">
            <div class="left-container">
                <img src="{{panelPic}}">
                <a routerLink="/user/{{play.creator}}" color="primary">{{panelUser}}</a> | <span>{{panelNet | number: '1.2-2'}}</span>
            </div>
            <div class="right-container">
                <button mat-button color="primary" (click)="onWin(play.id, play.payout)">W</button>
                <button mat-button color="warm" (click)="onLose(play.id, play.stake)">L</button>
            </div>
            
        </mat-action-row>
        <mat-action-row *ngIf="userIsAuthenticated && userId!==play.creator && !play.graded && !userIdProfile">
            <div class="left-container">
                <img src="{{panelPic}}">
                <a routerLink="/user/{{play.creator}}" color="primary">{{panelUser}}</a> | <span>{{panelNet | number: '1.2-2'}}</span>
            </div>
            
        </mat-action-row>
        <mat-action-row *ngIf="!userIsAuthenticated && !userIdProfile">
            <div class="left-container">
                <img src="{{panelPic}}">
                <a routerLink="/user/{{play.creator}}" color="primary">{{panelUser}}</a> | <span>{{panelNet | number: '1.2-2'}}</span>
            </div>
            
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<mat-paginator *ngIf="totalPlays > 0" [length]="totalPlays" [pageSize]="playsPerPage" [pageSizeOptions]="playSizeOptions" (page)="onChangedPage($event)"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="plays.length == 0 && !isLoading">No Plays Added Yet</p>