:host{
    display: block;
    margin-top: 1rem;
}
mat-spinner{
    margin: auto;
}
.play-img{
    width: 100%;
}
.play-img img{
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    max-width: 500px;
}
mat-paginator{
    margin-top: 1rem;
}
mat-expansion-panel-header .header-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 50px;
}
mat-expansion-panel-header .stake{
    background-color: lightpink;
    width: 75px;
    display: inline-block;
    text-align: center;
    opacity: 0.8;
}
mat-expansion-panel-header .payout{
    background-color: lightgreen;
    width: 75px;
    display: inline-block;
    text-align: center;
    opacity: 0.8;
}

/* If Lost */
mat-expansion-panel-header .graded-true.win-false .stake{

    opacity: 1;
}
mat-expansion-panel-header .graded-true.win-false .payout{

    opacity: 0.4;
}
/* If Won */
mat-expansion-panel-header .graded-true.win-true .stake{

    opacity: 0.4;
}
mat-expansion-panel-header .graded-true.win-true .payout{

    opacity: 1;
}

mat-expansion-panel-header .divider{
    background-color: gray;
    width: 1px;
    display: inline-block;
    text-align: center;
}
mat-action-row{
    display: flex;
    justify-content: space-between;
    align-items: center
}
mat-action-row .left-container{
    display: flex;
    align-items: center;
}
mat-action-row img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 5px;
}
mat-action-row .left-container a{
    margin-right: 5px;
    color: #001F3F;
}
mat-action-row .left-container span{
    margin-left: 5px;
    display: inline-block;
}
.align-right{
    justify-content: flex-end;
}

@media screen and (max-width:1024px){
    mat-expansion-panel-header .numbers .divider{
        display: none;
    }
    mat-expansion-panel-header  .numbers{
        display: flex;
        flex-direction: column;
    }
    mat-expansion-panel-header .header-container{
        padding-right: 10px;
        gap: 10px;
    }
    mat-action-row{
        flex-direction: column;
    }
}